body {

}

main {
    background-color: #1a1e21;
    color:white;
    min-height: 100vh;
}
section {
    height: 100%;
}

.imgresponsive {
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    transition: 0.5s;
    color: #2a96fc;
}

img {
    border-radius: 5px;
    max-width: 95%;
}
h2{
    color: #2a96fc;
}
.headernav {
    background-color: #1a1e21;
    color: #2a96fc;
}

.site-header {
    background-color: rgba(26, 30, 33, 0.68);
}
.cursor {
    cursor: pointer;
}

.border-shadow {
    color:white;
    border-color: rgba(26, 30, 33, 0.2);
    box-shadow: 3px 3px 3px ;
    padding : 1em;
    border-radius: 5px;
    margin-bottom: 2em!important;
}

.border:hover {
    transition: 0.5s;
    color: #2a96fc;
}

.border-shadow:hover {
    transition: 0.5s;
    color: #2a96fc;
}

.icalimg:hover {
    transition: 0.5s;
    background:#2a96fc;
}

.subscribelist:hover{
    transition: 0.5s;
    color: #2a96fc;
}

.site-header {
    background-color: rgba(26, 30, 33, 0.68) !important;
}
.footer {
    background-color: rgba(26, 30, 33, 0.85) !important;
}
